{% set route = app.request.get('_route') %}

<div class="vertical_menu">
	<a href="{{ path('settings.security.index') }}" class="waves-effect {{ route == 'settings.security.index' ? 'active':null }}">
		<i class="fa-duotone fa-arrow-right-to-arc text-green-500"></i>
		{{ 'Login systems'|trans({}, 'settings') }}</a>
	<a href="{{ path('settings.security.webauthn') }}" class="waves-effect {{ route == 'settings.security.webauthn' ? 'active':null }}">
		<i class="fa-solid fa-fingerprint text-red-500"></i>
		WebAuthn</a>
</div>
