{% extends 'base.html.twig' %}

{% set classification = 'HC' %}

{% block title 'Settings'|trans({}, 'settings') %}

{% block body %}
	{% include "settings/_header.html.twig" %}
	<div class="container mx-auto mt-10">
		<div class="flex flex-col lg:flex-row">
			<div>
				{% include "settings/security/_vertical_menu_main.html.twig" %}
			</div>
			<div class="flex-grow sm:ml-10">
				<p class="font-extrabold text-4xl text-center">{{ 'Login systems'|trans({}, 'settings') }}</p>
				{{ showAlert('info', 'Several connection systems are available. You can activate or not each of the systems. Make sure to always keep at least one system active.'|trans({}, 'settings'), 'mt-16') }}
				{% if
					not configs.login_password and
					not configs.login_oauth_discord and
					not configs.login_oauth_google and
					not configs.login_oauth_github and
					not configs.login_oauth_azure
				 %}
					{{ showAlert('warning', 'Attention, no system is currently activated.'|trans({}, 'settings'), 'mt-10 animate__animated animate__infinite animate__pulse') }}
				{% endif %}
				{% set types = {
					password: {
						borderColor: 'border-red-500',
						bgColor: 'bg-red-500',
						icon: 'fa-solid fa-key',
						title: 'Login with email address and password'|trans({}, 'settings'),
						title_radio: 'Allow (the)'|trans({}, 'global') ~ ' ' ~ 'Login with email address and password'|trans({}, 'settings')|lower,
						config_env: null
					},
					oauth_discord: {
						borderColor: '#5865F2',
						bgColor: '#5865F2',
						icon: 'fa-brands fa-discord',
						title: 'Login with Discord'|trans({}, 'settings'),
						title_radio: 'Allow (the)'|trans({}, 'global') ~ ' ' ~ 'Login with Discord'|trans({}, 'settings')|lower,
						config_env: app.request.server.get('DISCORD_ID')
					},
					oauth_google: {
						borderColor: 'border-emerald-500',
						bgColor: 'bg-emerald-500',
						icon: 'fa-brands fa-google',
						title: 'Login with Google'|trans({}, 'settings'),
						title_radio: 'Allow (the)'|trans({}, 'global') ~ ' ' ~ 'Login with Google'|trans({}, 'settings')|lower,
						config_env: app.request.server.get('GOOGLE_ID')
					},
					oauth_github: {
						borderColor: 'border-gray-500',
						bgColor: 'bg-gray-500',
						icon: 'fa-brands fa-github',
						title: 'Login with Github'|trans({}, 'settings'),
						title_radio: 'Allow (the)'|trans({}, 'global') ~ ' ' ~ 'Login with Github'|trans({}, 'settings')|lower,
						config_env: app.request.server.get('GITHUB_ID')
					},
					oauth_azure: {
						borderColor: 'border-blue-400',
						bgColor: 'bg-blue-400',
						icon: 'fa-brands fa-microsoft',
						title: 'Login with Microsoft Azure'|trans({}, 'settings'),
						title_radio: 'Allow (the)'|trans({}, 'global') ~ ' ' ~ 'Login with Microsoft Azure'|trans({}, 'settings')|lower,
						config_env: app.request.server.get('AZURE_ID')
					}
				} %}
				{% for key, type in types %}
					<div class="mt-10">
						<div style="border-color:{{ type.borderColor }};" class="pb-4 border-4 border-dashed {{ type.borderColor }} rounded-xl font-bold">
							<p style="background-color:{{ type.bgColor }};" class="{{ type.bgColor }} text-white py-6 px-10">
								<i class="{{ type.icon }} mr-6 text-xl"></i>
								{{ type.title }}
							</p>
							<div class="px-10">
								<p class="text-base font-medium mt-10">{{ type.title_radio }}</p>
								{% if is_granted('settings.security.edit') %}
									<form action="{{ path('settings.savesetting') }}" method="post">
										<input class="radio-tesla" onchange="submit();" value="0" type="radio" id="{{ 'login_' ~ key ~ '_no' }}" name="{{ 'login_' ~ key }}" {% if not configs['login_' ~ key] %} checked {% endif %}>
										<input class="radio-tesla" onchange="submit();" value="1" type="radio" id="{{ 'login_' ~ key ~ '_yes' }}" name="{{ 'login_' ~ key }}" {% if configs['login_' ~ key] %} checked {% endif %}>
										<input type="hidden" name="token" value="{{ csrf_token('settings') }}"/>
									</form>
									<div class="radio-group my-5">
										<label for="{{ 'login_' ~ key ~ '_no' }}">
											<i class="fa-solid fa-toggle-off mr-3 text-red-400"></i>
											{{ 'Disable'|trans({}, 'global') }}</label>
										<label for="{{ 'login_' ~ key ~ '_yes' }}">
											<i class="fa-solid fa-toggle-on mr-3 text-green-400"></i>
											{{ 'Enable'|trans({}, 'global') }}</label>
										<div class="selected"></div>
									</div>
								{% else %}
									<p class='my-5 font-bold'>
										{% if configs['login_' ~ key] %}
											<i class='fa-solid fa-toggle-on mr-3 text-green-400'></i>
											{{ 'Enable'|trans({}, 'global') }}
										{% else %}
											<i class='fa-solid fa-toggle-off mr-3 text-red-400'></i>
											{{ 'Disable'|trans({}, 'global') }}
										{% endif %}
									</p>
								{% endif %}
								{% if type.config_env is not null %}
									<p class='my-5 font-bold'>
										{% if type.config_env %}
											<i class='fa-solid fa-circle-check mr-3 text-green-400'></i>
											{{ 'Setup is good.'|trans({}, 'settings') }}
										{% else %}
											<i class='fa-solid fa-circle-xmark mr-3 text-red-400'></i>
											{{ 'The configuration is missing. Add the necessary information in the .env file.'|trans({}, 'settings') }}
										{% endif %}
									</p>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
