{% set route = app.request.get('_route') %}
<div class="flex flex-col h-full justify-between">
	<div class="flex flex-col">
		<div class="linkHub">
			<p>
				<i class="fa-solid fa-angle-down"></i>
				{{ 'General'|trans({}, 'settings') }}</p>
			<a href="{{ path('settings.general.structure') }}" class="{{ route == 'settings.general.structure' ? 'active':'' }}">
				<i class="fa-regular fa-city text-green-500"></i>Ma structure</a>
			<a href="{{ path('settings.general.licence') }}" class="{{ route == 'settings.general.licence' ? 'active':'' }}">
				<i class="fa-regular fa-file-certificate text-blue-500"></i>Licence</a>
			{% if is_granted('settings.edit') and is_granted('settings.service_mode.edit') %}
				<a href="{{ path('settings.general.servicemode') }}" class="{{ route == 'settings.general.servicemode' ? 'active':'' }}">
					<i class="fa-regular fa-wrench text-red-500"></i>Service mode</a>
			{% endif %}
		</div>
		{% if is_granted('settings.services.view') %}
			<div class="linkHub">
				<p>
					<i class="fa-solid fa-angle-down"></i>
					Services</p>
			</div>
		{% endif %}
		{% if is_granted('settings.payments.view') %}
			<div class="linkHub">
				<p>
					<i class="fa-solid fa-angle-down"></i>
					{{ 'Payment methods'|trans({}, 'settings') }}</p>
			</div>
		{% endif %}
		{% if is_granted('settings.billings.view') %}
			<div class="linkHub">
				<p>
					<i class="fa-solid fa-angle-down"></i>
					{{ 'Billing'|trans({}, 'settings') }}</p>
			</div>
		{% endif %}
		{% if is_granted('settings.security.view') %}
			<div class="linkHub">
				<p>
					<i class="fa-solid fa-angle-down"></i>
					{{ 'Security'|trans({}, 'settings') }}</p>
				<a href="{{ path('settings.security.loginsystem') }}" class="{{ route == 'settings.security.loginsystem' ? 'active':'' }}">
					<i class="fa-regular fa-arrow-right-to-arc text-purple-500"></i>
					{{ 'Login systems'|trans({}, 'settings') }}</a>
			</div>
		{% endif %}
		{% if is_granted('settings.users.view') %}
			<div class="linkHub">
				<p>
					<i class="fa-solid fa-angle-down"></i>
					{{ 'Users'|trans({}, 'settings') }}</p>
				<a href="{{ path('settings.users.list') }}" class="{{ route == 'settings.users.list' ? 'active':'' }}">
					<i class="fa-regular fa-users-gear text-sky-500"></i>
					{{ 'Users list'|trans({}, 'settings') }}</a>
				<a href="{{ path('settings.users.saad') }}" class="{{ route == 'settings.users.saad' ? 'active':'' }}">
					<i class="fa-brands fa-microsoft"></i>
					{{ 'Azure AD synchronization'|trans({}, 'settings') }}</a>
			</div>
		{% endif %}
	</div>
</div>
