<header id="headerMain" data-turbo-permanent>
	<div class="container mx-auto flex items-center h-14" x-data="{ showMenuServices : false, showMenuBilling : false }">
		<div class="select-none" style="margin-top:2px;">
			<a class="waves-effect waves-light" href="{{ path('home.home') }}">
				<img data-logolight="{{ asset(logos.light) }}" data-logodark="{{ asset(logos.dark) }}" class="h-8 logoprincipal" src="{{ asset(logos.light) }}" alt="Logo lebackoffice">
			</a>
		</div>
		<div
			class="flex-grow flex text-center items-center justify-center">
			<!-- data-menu représente site.com/{data-menu}. Si le lien principal donne sur un sous menu avec plusieurs {data-menu}, les mettres tous. Exemple : data-menu=" sales customers" pour site.com/sales/ et site.com/customers -->
			<a href="{{ path('home.home') }}" class="mainmenu" data-menu="home">
				<i class="fa-light fa-home-lg-alt"></i>
			</a>
			<a href="/clients" class="mainmenu" data-menu="clients">
				<i class="fa-light fa-users"></i>
			</a>
			<a class="mainmenu selectable" data-menu="services" :class="! showMenuServices ? '' : 'open'" @click="showMenuServices = !showMenuServices" @click.away="showMenuServices = false">
				<i class="fa-light fa-box-full"></i>
			</a>
			<div class="card menu_down" style="margin-left:7em;" data-menu="services" x-show="showMenuServices" x-transition:enter=" transition ease duration-100 transform" x-transition:enter-start="opacity-0 scale-90 translate-y-1" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="transition ease duration-100 transform" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-90 translate-y-1">
				<a href="/services" class="mainmenu">
					<i class="fa-light fa-boxes"></i>Liste de tous les services</a>
				<a href="/services/pterodactyl" class="mainmenu">
					<i class="fa-light fa-gamepad-alt"></i>Liste des serveurs pterodactyl</a>
				<a href="/services/vm" class="mainmenu">
					<i class="fa-brands fa-linux"></i>Liste des machines virtuelles</a>
				<a href="/services/plesk" class="mainmenu">
					<i class="fa-light fa-globe"></i>Liste des sites web et domaines</a>
			</div>
			<a class="mainmenu selectable" data-menu="billing" :class="! showMenuBilling ? '' : 'open'" @click="showMenuBilling = !showMenuBilling" @click.away="showMenuBilling = false">
				<i class="fa-light fa-money-check-alt"></i>
			</a>
			<div class="card menu_down" style="margin-left:19em;" data-menu="billing" x-show="showMenuBilling" x-transition:enter=" transition ease duration-100 transform" x-transition:enter-start="opacity-0 scale-90 translate-y-1" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="transition ease duration-100 transform" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-90 translate-y-1">
				<a href="/billing/invoices" class="mainmenu">
					<i class="fa-light fa-file-invoice-dollar"></i>Liste des factures</a>
				<a href="/billing/quotations" class="mainmenu">
					<i class="fa-light fa-file-invoice"></i>Liste des devis</a>
				<a href="/billing/transactions" class="mainmenu">
					<i class="fa-light fa-dollar-sign"></i>Liste des transactions</a>
			</div>
		</div>
		<div>
			<a href="/api" target="_blanck" class="mainmenu" data-menu="api">
				<i class="fa-light fa-code"></i>
			</a>
			{% if is_granted('settings.view') %}
				<a href="{{ path('settings.index') }}" class="mainmenu" data-menu="settings">
					<i class="fa-light fa-cog"></i>
				</a>
			{% endif %}
		</div>
		<div id="submainlink"></div>
	</div>
</header>
