{% set route = app.request.get('_route') %}

<div class="vertical_menu">
	<a href="{{ path('settings.main.index') }}" class="waves-effect {{ route == 'settings.main.index' ? 'active':null }}">
		<i class="fa-duotone fa-city text-blue-500"></i>
		{{ 'Organization'|trans({}, 'settings') }}</a>
	<a href="{{ path('settings.main.licence') }}" class="waves-effect {{ route == 'settings.main.licence' ? 'active':null }}">
		<i class="fa-duotone fa-file-certificate text-red-500"></i>
		{{ 'License'|trans({}, 'licence') }}</a>
	{% if is_granted('settings.service_mode.edit') %}
		<a href="{{ path('settings.main.servicemode') }}" class="waves-effect {{ route == 'settings.main.servicemode' ? 'active':null }}">
			<i class="fa-solid fa-wrench text-red-500"></i>
			Service mode</a>
	{% endif %}
</div>
