{% extends '_extends/submenu.html.twig' %}

{% block title 'Settings'|trans({}, 'settings') %}

{% block submenu %}
	{% include "settings/_submenu.html.twig" %}
{% endblock %}

{% block body %}
	{% include "settings/_header.html.twig" %}
	<div class="container mx-auto mt-10">
		<div class="flex flex-col lg:flex-row">
			<div>
				{% include "settings/main/_vertical_menu_main.html.twig" %}
			</div>
			<div class="flex-grow sm:ml-10">
				<p class="font-extrabold text-4xl text-center">{{ 'Organization informations'|trans({}, 'settings') }}</p>
				<div class="relative mt-16">
					<div class="absolute inset-0 flex items-center" aria-hidden="true">
						<div class="w-full border-t border-gray-300"></div>
					</div>
					<div class="relative flex justify-center">
						<span class="px-2 bg-gray-100 mb-1 text-base font-bold text-gray-500">{{ 'The basics'|trans({}, 'global') }}</span>
					</div>
				</div>
				{% if is_granted('settings.main.edit') %}
					<form action="{{ path('settings.savesetting') }}" method="post">
					{% endif %}
					<div class="flex flex-col lg:flex-row w-full mt-10">
						<div class="w-full">
							{% set types = {
								0: 'No organization'|trans({}, 'settings'),
								1: 'No profit organization'|trans({}, 'settings'),
								2: 'Non-governmental organisation'|trans({}, 'settings'),
								3: 'Company'|trans({}, 'settings'),
								4: 'Other'|trans({}, 'global')
							} %}
							{% if is_granted('settings.main.edit') %}
								<label for="structure_name" class="block mb-1 text-gray-500">{{ 'Organization name'|trans({},'settings')}}
									<span class="font-bold text-red-600">*</span>
								</label>
								<input id="structure_name" name="structure_name" class="w-full" value="{{ configs.structure_name }}" type="text" required>
								<label for="structure_type" class="mt-4 block mb-1 text-gray-500">{{ 'Organization type'|trans({},'settings') }}
									<span class="font-bold text-red-600">*</span>
								</label>
								<select class="w-full" name="structure_type" id="structure_type" required>
									{% for key,type in types %}
										<option value="{{ key }}" {% if configs.structure_type == key %} selected {% endif %}>{{ type }}</option>
									{% endfor %}
								</select>
							{% else %}
								<p class="font-bold">{{ 'Organization name'|trans({},'settings')}}</p>
								<p class="mt-4 text-sm">{{ configs.structure_name == '' ? 'Aucune information' : configs.structure_name }}</p>

								<p class="font-bold mt-10">{{ 'Organization type'|trans({},'settings')}}</p>
								<p class="mt-4 text-sm">{{ configs.structure_type == '' ? 'Aucune information' : types[configs.structure_type] }}</p>
							{% endif %}
						</div>
						<div class="w-full lg:ml-10 mt-4 lg:mt-0">
							{% if is_granted('settings.main.edit') %}
								<label for="structure_rcs" class="block mb-1 text-gray-500">{{ 'RCS number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_rcs" name="structure_rcs" class="w-full" placeholder="RCS City A XXXXXXXXX" value="{{ configs.structure_rcs }}" type="text">
								<label for="structure_rna" class="mt-4 block mb-1 text-gray-500">{{ 'RNA number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_rna" name="structure_rna" class="w-full" placeholder="WXXXXXXXXX" value="{{ configs.structure_rna }}" type="text">
								<label for="structure_siret" class="mt-4 block mb-1 text-gray-500">{{ 'SIRET number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_siret" name="structure_siret" class="w-full" placeholder="XXXXXXXXXYYYYY" value="{{ configs.structure_siret }}" type="number">
								<label for="structure_siren" class="mt-4 block mb-1 text-gray-500">{{ 'SIREN number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_siren" name="structure_siren" class="w-full" placeholder="XXXXXXXXX" value="{{ configs.structure_siren }}" type="number">
								<label for="structure_vat" class="mt-4 block mb-1 text-gray-500">{{ 'VAT number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_vat" name="structure_vat" class="w-full" placeholder="FRXXXXXXXXXXX" value="{{ configs.structure_vat }}" type="text">
								<label for="structure_eori" class="mt-4 block mb-1 text-gray-500">{{ 'EORI number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_eori" name="structure_eori" class="w-full" placeholder="FRXXXXXXXXXXXXXX" value="{{ configs.structure_eori }}" type="text">
								<label for="structure_ics" class="mt-4 block mb-1 text-gray-500">{{ 'ICS number of the organization'|trans({}, 'settings') }}</label>
								<input id="structure_ics" name="structure_ics" class="w-full" placeholder="FRXXXXXXXXXXX" value="{{ configs.structure_ics }}" type="text">
							{% else %}
								<p class="font-bold mt-8 sm:mt-0">{{ 'RNA number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_rna == '' ? 'Aucune information' : configs.structure_rna }}</p>

								<p class="font-bold mt-10">{{ 'SIRET number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_siret == '' ? 'Aucune information' : configs.structure_siret }}</p>

								<p class="font-bold mt-10">{{ 'SIREN number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_siren == '' ? 'Aucune information' : configs.structure_siren }}</p>

								<p class="font-bold mt-10">{{ 'VAT number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_vat == '' ? 'Aucune information' : configs.structure_vat }}</p>

								<p class="font-bold mt-10">{{ 'EORI number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_eori == '' ? 'Aucune information' : configs.structure_eori }}</p>

								<p class="font-bold mt-10">{{ 'ICS number of the organization'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_ics == '' ? 'Aucune information' : configs.structure_ics }}</p>
							{% endif %}
						</div>
					</div>
					<div class="relative mt-10">
						<div class="absolute inset-0 flex items-center" aria-hidden="true">
							<div class="w-full border-t border-gray-300"></div>
						</div>
						<div class="relative flex justify-center">
							<span class="px-2 bg-gray-100 mb-1 text-base font-bold text-gray-500">{{ 'Contact informations'|trans({}, 'settings') }}</span>
						</div>
					</div>
					<div class="flex flex-col lg:flex-row w-full mt-10">
						<div class="w-full">
							{% if is_granted('settings.main.edit') %}
								<label for="structure_email" class="block mb-1 text-gray-500">{{ 'Email contact of the organisation'|trans({}, 'settings') }}
									<span class="font-bold text-red-600">*</span>
								</label>
								<input id="structure_email" name="structure_email" class="w-full" placeholder="contact@structure.com" value="{{ configs.structure_email }}" type="email" required>
								<label for="structure_tel" class="mt-4 block mb-1 text-gray-500">{{ 'Public phone number of the organisation'|trans({}, 'settings') }}</label>
								<input id="structure_tel" name="structure_tel" class="w-full" placeholder="+33XXXXXXXXX" value="{{ configs.structure_tel }}" type="tel">
							{% else %}
								<p class="font-bold">{{ 'Email contact of the organisation'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_email == '' ? 'Aucune information' : configs.structure_email }}</p>

								<p class="font-bold mt-10">{{ 'Public phone number of the organisation'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_tel == '' ? 'Aucune information' : configs.structure_tel }}</p>
							{% endif %}
						</div>
						<div class="w-full lg:ml-10 mt-4 lg:mt-0">
							{% if is_granted('settings.main.edit') %}
								<label for="structure_adress" class="block mb-1 text-gray-500">{{ 'Full address of the organisation'|trans({}, 'settings') }}</label>
								<textarea name="structure_adress" id="structure_adress" class="w-full" style="height:7.5rem;">{{ configs.structure_adress }}</textarea>
							{% else %}
								<p class="font-bold mt-8 sm:mt-0">{{ 'Full address of the organisation'|trans({}, 'settings') }}</p>
								<p class="mt-4 text-sm">{{ configs.structure_adress == '' ? 'Aucune information' : configs.structure_adress|nl2br }}</p>
							{% endif %}
						</div>
					</div>
					{% if is_granted('settings.main.edit') %}
						<div class="text-center">
							<button class="large mt-16 green" type="submit">
								<i class="fa-solid fa-save mr-3"></i>
								{{ 'Save all informations'|trans({}, 'settings') }}</button>
						</div>
						<input type="hidden" name="token" value="{{ csrf_token('settings') }}"/>
					</form>
				{% endif %}
				<div class="relative mt-10">
					<div class="absolute inset-0 flex items-center" aria-hidden="true">
						<div class="w-full border-t border-gray-300"></div>
					</div>
					<div class="relative flex justify-center">
						<span class="px-2 bg-gray-100 mb-1 text-base font-bold text-gray-500">{{ 'The logos'|trans({}, 'settings') }}</span>
					</div>
				</div>
				{{ showAlert('info', 'Logos are used on all customer support. For example, invoices and quotes. They are also used on the backoffice. You can disable this feature and display the original logos on the backoffice.'|trans({}, 'settings'), 'mt-5') }}
				<div class="flex flex-col lg:flex-row w-full mt-10">
					<div class="w-full text-center flex flex-col items-center">
						<p class="font-bold text-lg">{{ 'Light version (by default)'|trans({}, 'settings') }}</p>
						{% if configs.structure_logo_url_light == '/images/logo/logo-lebackoffice-noir.svg' %}
							{% if is_granted('settings.main.edit') %}
								<label class="waves-effect border_point mt-6">
									<i class="fa-duotone fa-image text-blue-400 text-7xl"></i>
									<span class="mt-5 block text-lg font-medium text-gray-700">{{ 'Upload a logo'|trans({}, 'settings') }}
										light</span>
									<form action="{{ path('settings.main.saveLogo') }}" method="post" enctype="multipart/form-data">
										<input onchange="submit();" name="structure_logo_url_light" type='file' class="hidden" accept=".png,.jpg,.jpeg,.svg">
										<input type="hidden" name="token" value="{{ csrf_token('settings-main-logo') }}"/>
									</form>
								</label>
							{% else %}
								<p class="mt-5 text-sm">{{ 'You do not have permission to modify this logo.'|trans({}, 'settings') }}</p>
							{% endif %}
						{% else %}
							<div class="bg-gray-100 p-10 mt-5 rounded-md w-full">
								<img src="{{ configs.structure_logo_url_light }}" alt="Logo" class="max-w-full">
							</div>
							{% if is_granted('settings.main.edit') %}
								<a href="{{ path('settings.main.deleteLogo', {type:'structure_logo_url_light'}) }}" class="button transparent mt-5">{{ 'Delete'|trans({}, 'global') }}</a>
							{% endif %}
						{% endif %}
					</div>
					<div class="w-full lg:ml-10 mt-4 lg:mt-0 text-center flex flex-col items-center">
						<p class="font-bold text-lg">{{ 'Dark version'|trans({}, 'settings') }}</p>
						{% if configs.structure_logo_url_dark == '/images/logo/logo-lebackoffice-blanc.svg' %}
							{% if is_granted('settings.main.edit') %}
								<label class="waves-effect border_point mt-6">
									<i class="fa-duotone fa-image text-blue-800 text-7xl"></i>
									<span class="mt-5 block text-lg font-medium text-gray-700">{{ 'Upload a logo'|trans({}, 'settings') }}
										dark</span>
									<form action="{{ path('settings.main.saveLogo') }}" method="post" enctype="multipart/form-data">
										<input onchange="submit();" name="structure_logo_url_dark" type='file' class="hidden" accept=".png,.jpg,.jpeg,.svg">
										<input type="hidden" name="token" value="{{ csrf_token('settings-main-logo') }}"/>
									</form>
								</label>
							{% else %}
								<p class="mt-5 text-sm">{{ 'You do not have permission to modify this logo.'|trans({}, 'settings') }}</p>
							{% endif %}
						{% else %}
							<div class="bg-gray-800 p-10 mt-5 rounded-md w-full">
								<img src="{{ configs.structure_logo_url_dark }}" alt="Logo" class="max-w-full">
							</div>
							{% if is_granted('settings.main.edit') %}
								<a href="{{ path('settings.main.deleteLogo', {type:'structure_logo_url_dark'}) }}" class="button transparent mt-5">{{ 'Delete'|trans({}, 'global') }}</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="mt-14">
					<p class="text-base font-medium">{{ 'Use custom logos on the backoffice'|trans({}, 'settings') }}</p>
					{% if is_granted('settings.main.edit') %}
						<form action="{{ path('settings.savesetting') }}" method="post">
							<input class="radio-tesla" onchange="submit();" value="0" type="radio" id="structure_logo_custom_no" name="structure_logo_custom" {% if not configs.structure_logo_custom %} checked {% endif %}>
							<input class="radio-tesla" onchange="submit();" value="1" type="radio" id="structure_logo_custom_yes" name="structure_logo_custom" {% if configs.structure_logo_custom %} checked {% endif %}>
							<input type="hidden" name="token" value="{{ csrf_token('settings') }}"/>
						</form>
						<div class="radio-group my-5">
							<label for="structure_logo_custom_no">
								<i class="fa-solid fa-times-circle mr-3 text-red-400"></i>
								{{ 'No'|trans({}, 'global') }}</label>
							<label for="structure_logo_custom_yes">
								<i class="fa-solid fa-check-circle mr-3 text-green-400"></i>
								{{ 'Yes'|trans({}, 'global') }}</label>
							<div class="selected"></div>
						</div>
					{% else %}
						<p class='my-5 font-bold'>
							{% if configs.structure_logo_custom %}
								<i class='fas fa-check-circle mr-3 text-green-400'></i>
								{{ 'Yes'|trans({}, 'global') }}
							{% else %}
								<i class='fas fa-times-circle mr-3 text-red-400'></i>
								{{ 'No'|trans({}, 'global') }}
							{% endif %}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
