{% extends 'base.html.twig' %}

{% set classification = 'confidentiel' %}

{% block title 'Service mode' %}

{% block body %}
	{% include "settings/_header.html.twig" %}
	<div class="container mx-auto mt-10">
		<div class="flex flex-col lg:flex-row">
			<div>
				{% include "settings/main/_vertical_menu_main.html.twig" %}
			</div>
			<div class="flex-grow sm:ml-10">
				<p class="font-extrabold text-4xl text-center">Service mode</p>
				{{ showAlert('warning', 'Warning, Service mode disables API endpoints and sales.', 'mt-16')}}
				<div class="mt-10 pb-4 border-4 border-dashed border-red-500 rounded-xl font-bold">
					<p class="bg-red-500 text-white py-6 px-10">
						<i class="fa-solid fa-wrench mr-6 text-xl"></i>
						Service mode
					</p>
					<div class="px-10">
						<p class="text-base font-medium mt-10">Enable service mode</p>
						<form action="{{ path('settings.savesetting') }}" method="post">
							<input class="radio-tesla" onchange="submit();" value="0" type="radio" id="{{ 'service_mode_no' }}" name="{{ 'service_mode' }}" {% if not configs['service_mode'] %} checked {% endif %}>
							<input class="radio-tesla" onchange="submit();" value="1" type="radio" id="{{ 'service_mode_yes' }}" name="{{ 'service_mode' }}" {% if configs['service_mode'] %} checked {% endif %}>
							<input type="hidden" name="token" value="{{ csrf_token('settings') }}"/>
						</form>
						<div class="radio-group my-5">
							<label for="{{ 'service_mode_no' }}">
								<i class="fa-solid fa-toggle-off mr-3 text-red-400"></i>
								{{ 'Disable'|trans({}, 'global') }}</label>
							<label for="{{ 'service_mode_yes' }}">
								<i class="fa-solid fa-toggle-on mr-3 text-green-400"></i>
								{{ 'Enable'|trans({}, 'global') }}</label>
							<div class="selected"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
