{% set route = app.request.get('_route') %}

<div class="container mx-auto mt-16">
	<nav class="breadcrumbs">
		<a href="{{ path('settings.index') }}" class="step">{{ 'Settings'|trans({},'settings') }}</a>
		{% if route starts with 'settings.main' %}
			<a href='#' class='step'><img src='{{ asset('images/icons/settings.png') }}' alt='services'>
				{{ 'General Settings'|trans({}, 'settings') }}</a>
		{% elseif route starts with 'settings.security' %}
			<a href='#' class='step'><img src='{{ asset('images/icons/lock.png') }}' alt='services'>
				{{ 'Security'|trans({}, 'settings') }}</a>
		{% elseif route starts with 'settings.users' %}
			<a href='#' class='step'><img src='{{ asset('images/icons/crown.png') }}' alt='services'>
				{{ 'Users'|trans({}, 'settings') }}</a>
		{% endif %}
	</nav>
</div>
