{% set route = app.request.get('_route') %}

<div class="vertical_menu">
	<a href="{{ path('settings.main') }}" class="waves-effect {{ route == 'settings.main' ? 'active':null }}">
		<i class="fa-duotone fa-city text-blue-500"></i>
		{{ 'Organization'|trans({}, 'settings') }}</a>
	<a href="{{ path('settings.main.licence') }}" class="waves-effect {{ route == 'settings.main.licence' ? 'active':null }}">
		<i class="fa-duotone fa-file-certificate text-red-500"></i>
		{{ 'License'|trans({}, 'licence') }}</a>
</div>
