{% set configs = configuration.getAll() %}
{% set logos = configuration.getLogos(configs) %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Ecowan">
		<meta name="copyright" content="Ecowan">
		<meta name="identifier-url" content="{{ app.request.host }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Lebackoffice |
			{% block title '' %}
		</title>
		<meta name="description" content="Site de gestion des équipes de l'association ecowan">
		<meta name="keywords" content="ecowan">
		<meta name="turbo-cache-control" content="no-cache">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/favicons/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ asset('images/favicons/safari-pinned-tab.svg') }}" color="#3466af">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		{{ encore_entry_link_tags('app') }}
		{% block css '' %}
		{{ encore_entry_script_tags('app') }}
		{% block js_head '' %}
	</head>
	<body class="bg-gray-100 dark:bg-gray-800 text-slate-600 dark:text-slate-200">
		{% if configs.service_mode %}
			<div class="service_mode top">SERVICE MODE</div>
			<div class="service_mode right">SERVICE MODE</div>
			<div class="service_mode bottom">[ENV:
				{{ app.environment|upper }}][DEBUG:
				{{ app.debug == 1 ? 'YES':'NO' }}] API ENDPOINTS & SALES DISABLED</div>
			<div class="service_mode left">SERVICE MODE</div>
			<div class="service_mode center">SERVICE MODE</div>
		{% endif %}
		<div class='flashbag animate__animated'>
			{{ showFlashMessage(app.flashes) }}
		</div>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% include "partials/_lightbox.html.twig" %}
			<div class="flex">

			{% endif %}
			{% block body '' %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			</div>
		{% endif %}
	</body>
</html>
